src/main/mule/api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="first-country-lookup-sapi-main">
        <http:listener config-ref="first-country-lookup-sapi-httpListenerConfig" path="${api.basepath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.'x-correlation-Id' default correlationId]" doc:name="correlationId" doc:id="e5a420a4-f5fa-4964-aed2-f9f545c7620f" variableName="correlationId"/>
		<apikit:router config-ref="first-country-lookup-sapi-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="first-country-lookup-sapi-console">
        <http:listener config-ref="first-country-lookup-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="first-country-lookup-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\countries:first-country-lookup-sapi-config">
        <flow-ref doc:name="common-variablesSub_Flow" doc:id="8cbd0e2d-25c4-424f-a1db-d00fc9e85b04" name="common-variablesSub_Flow" />
        <logger level="INFO" doc:name="log-start" doc:id="57df9e48-f2c7-437e-bf18-c30a31b03f38" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; "log-trace" : "START_getcountriesFlow",&#10; "correlationId": vars.correlationId,&#10; "payload": payload default""&#10;}]' />
        <flow-ref doc:name="get-countries-ImplSub_Flow" doc:id="83122479-0072-4478-9a2c-4967826f0716" name="get-countries-ImplSub_Flow" />
        <logger level="INFO" doc:name="log-end" doc:id="126157d3-dafc-40d4-b5f1-4c929d0bf1fa" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; "log-trace" : "END_getcountriesFlow",&#10; "correlationId": vars.correlationId,&#10; "payload": payload default""&#10;}]' />
		<error-handler ref="custom_errorhandler" />
    </flow>
</mule>
